<section class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
  <div class="container mx-auto px-6 text-center py-20">
    <h2 class="text-4xl font-bold mb-2 text-white">
      Welcome to Rails Kick Off!
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      Build products faster in Ruby on Rails
    </h3>
  </div>
</section>

<section>
  <div class="py-20 bg-gray-50 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="relative flex items-center justify-center flex-shrink-0 w-14 h-14 mr-3 mb-4 md:mb-6 overflow-hidden bg-purple-500 rounded shadow-inner">
            <i class="fas fa-wind text-white fa-2x"></i>
          </div>
          <h4 class="mb-4 text-2xl font-bold font-heading">Tailwind CSS</h4>
          <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
        </div>
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
      
          <div class="relative flex items-center justify-center flex-shrink-0 w-14 h-14 mr-3 mb-4 md:mb-6 overflow-hidden bg-purple-500 rounded shadow-inner">
            <i class="fab fa-font-awesome-flag text-white fa-2x"></i>
          </div>


          <h4 class="mb-4 text-2xl font-bold font-heading">Font Awesome Pro</h4>
          <p class="text-gray-500 leading-loose">Ut tempus tellus ac nisi vestibulum tempus. Nunc tincidunt lectus libero, ac ultricies augue elementum at.</p>
        </div>
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="relative flex items-center justify-center flex-shrink-0 w-14 h-14 mr-3 mb-4 md:mb-6 overflow-hidden bg-purple-500 rounded shadow-inner">
            <i class="fad fa-user text-white fa-2x"></i>
          </div>
          <h4 class="mb-4 text-2xl font-bold font-heading">Devise</h4>
          <p class="text-gray-500 leading-loose">Donec ut ligula nunc. Mauris blandit vel est et facilisis. Integer sapien felis, aliquet at posuere et, porttitor quis ligula.</p>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4">
          <span class="mb-4 md:mb-6 inline-block bg-purple-500 p-3 text-white rounded">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path>
            </svg>
          </span>
          <h4 class="mb-4 text-2xl font-bold font-heading">Morbi sagittis ligula sit amet elit maximus</h4>
          <p class="text-gray-500 leading-loose">Duis ut facilisis orci. Morbi lacinia nunc a augue eleifend, sed placerat ex faucibus. Duis ante arcu, pretium ac luctus vulputate.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="skew skew-bottom mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
  <div class="skew skew-bottom ml-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 10 10"></polygon>
    </svg>
  </div>
</section>