<!-- Project content -->
<div class="flex-1 flex flex-col bg-white overflow-hidden">
    <!-- Top bar -->
    <div class="border-b flex px-12 mt-4 flex-none">
        <div class=" flex justify-between">
            <!--sub navbar -->
            <div class=" inline-flex justify-center">
              <ul class="flex justify-between sm:flex-row space-x-2">
                <li class="cursor-pointer flex items-center block py-1 font-semibold border-b-2 border-gray-800 text-gray-600 no-underline hover:text-gray-800 focus:outline-none ">
                  <a id="#first" href="#first" class="no-underline">Subprojects</a>
                </li>
                <li class="cursor-pointer flex items-center block px-2 py-1 font-medium border-gray-800 text-gray-500 no-underline hover:text-gray-800 focus:outline-none ">
                  <a id="#second" href="#first" class="no-underline">People</a>
                </li>
                <li class="cursor-pointer flex items-center block px-2 py-1 font-medium border-gray-800 text-gray-500 no-underline hover:text-gray-800 focus:outline-none ">
                  <a id="#second" href="#first" class="no-underline">Groups</a>
                </li>
              </ul>
            </div>           
        </div>
        <div class="ml-auto hidden md:block">

        </div>
    </div>
    <!-- Content -->
    <div class="px-2 py-4 flex-1 overflow-y-scroll">
        <!-- Content item(s) -->
        <div class="flex items-start mb-6 text-sm">
            <div class="flex-1 overflow-hidden">
                <div>
                    <span class="font-bold text-xl ml-10">Gamma - Testing Integration</span>
                </div>
                <div class="flex items-start mt-2">
                    <div class="flex items-center">
                     	<div class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 mb-4 md:mb-6 overflow-hidden bg-gray-50 rounded">
                        	<i class="fa fa-solid fa-grip-vertical fa-lg"></i>
                      	</div>
                      	<div class="w-10 h-12">
	                        <div class="round">
	                            <input type="checkbox" checked id="checkbox" />
	                            <label for="checkbox"></label>
	                        </div>
                      	</div>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">VPN connection</p>
                    </div>
             	</div>
                <div class="flex items-start">
                	<div class="flex">
                     	<div class="w-8 mr-2">
                    </div>                         
                     <div class="w-10 border-b">
                     </div>
                    </div>
                    <div class="flex-1 overflow-hidden border-b">
                    </div>
                </div>
                
                <div class="flex items-start mt-2">
                    <div class="flex items-center">
                     	<div class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 mb-4 md:mb-6 overflow-hidden bg-gray-50 rounded">
                        	<i class="fa fa-solid fa-grip-vertical fa-lg"></i>
                      	</div>
                    	<div class="w-10 h-12">
                        <div class="round">
                            <input type="checkbox" checked id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                    </div>
                </div>
                <div class="flex-1 overflow-hidden">
                    <p class="text-black leading-normal">Need to create a ticket for the New API documnetation is reviewed by DevX team and published on our wesbite.</p>
                </div>
            </div>
                <div class="flex items-start">
                    <div class="flex">
                      <div class="w-8 mr-2">
                      </div>                         
                      <div class="w-10 border-b">
              
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden border-b">
                    </div>
                </div>

                <div class="pb-6 pl-10 flex-none mt-2">
                    <div class="flex rounded-lg border-2 border-grey overflow-hidden">
                        <div class="focus:outline-none py-2">
                            <input class="w-full px-4 focus:outline-none mb-13" placeholder="New item">
                            <input class="w-full px-4 focus:outline-none mb-2" placeholder="Description" />

                            <button class="ml-4 p-1 pl-2 pr-2 focus:outline-none bg-white border-2 text-sm rounded-md">
                                <i class="fa-regular fa-calendar"></i>
                                <span>Today</span>
                            </button>
                            <button class="ml-1 p-1 pl-2 pr-2 focus:outline-none bg-white border-2 text-sm rounded-md">
                                <i class="fa-regular fa-flag"></i>
                                <span>Priority</span>
                            </button>
                            <button class="ml-1 p-1 pl-2 pr-2 focus:outline-none bg-white border-2 text-sm rounded-md">
                                <i class="fa-regular fa-clock"></i>
                                <span>Reminder</span>
                            </button>

                            <!-- <input type="search" placeholder="Search" class="ml-4 appearance-none border focus:outline-none border-grey rounded-lg pr-4 py-2"> -->
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- Content item(s) -->
        <div class="flex items-start mb-4 text-sm">
            <div class="flex-1 overflow-hidden">
                <div>
                    <span class="font-bold text-xl ml-10">Syniverse International Message Blocking</span>
                    <span class="text-grey text-xs">11:46</span>
                </div>
                <div class="flex items-start my-2">
                    <div class="flex items-center">
                      <div class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 mb-4 md:mb-6 overflow-hidden bg-gray-50 rounded">
                         <i class="fa fa-solid fa-grip-vertical fa-lg"></i>
                      </div>
                     
                      <div class="w-10 h-12">
                        <div class="round">
                            <input type="checkbox" checked id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">Update: Give heads up we’ll be adding documentation to our website for the new Global Messaging API - for UK, for Beta by the end of this month Feb 2</p>
                    </div>
                </div>
                <div class="flex items-start">
                    <div class="flex">
                      <div class="w-8 mr-2">
                      </div>                         
                      <div class="w-10 border-b">
                
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden border-b">
                    </div>
                </div>
                <div class="flex items-start my-2">
                    <div class="flex items-center">
                      <div class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 mb-4 md:mb-6 overflow-hidden bg-gray-50 rounded">
                         <i class="fa fa-solid fa-grip-vertical fa-lg"></i>
                      </div>
                     
                      <div class="w-10 h-12">
                        <div class="round">
                            <input type="checkbox" checked id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">Need to create a ticket for the New API documnetation is reviewed by DevX team and published on our wesbite.</p>
                    </div>
                </div>
                <div class="flex items-start">
                    <div class="flex">
                      <div class="w-8 mr-2">
                      </div>                         
                      <div class="w-10 border-b">
                
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden border-b">
                    </div>
                </div>
                <div class="flex items-start my-2">
                    <div class="round w-10 h-10 items-center text-center">
                        <i class="fa fa-solid fa-plus"></i>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">Add Item</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content item(s) -->
        <div class="flex items-start mb-4 text-sm">
            <div class="flex-1 overflow-hidden">
                <div>
                    <span class="font-bold text-xl ml-10">Weekly Sync Horisen and BW</span>
                    <span class="text-grey text-xs">11:46</span>
                </div>
                <div class="flex items-start my-2">
                    <div class="flex items-center">
                      <div class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 mb-4 md:mb-6 overflow-hidden bg-gray-50 rounded">
                         <i class="fa fa-solid fa-grip-vertical fa-lg"></i>
                      </div>
                     
                      <div class="w-10 h-12">
                        <div class="round">
                            <input type="checkbox" checked id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">Update: Give heads up we’ll be adding documentation to our website for the new Global Messaging API - for UK, for Beta by the end of this month Feb 2</p>
                    </div>
                </div>
                <div class="flex items-start">
                    <div class="flex">
                      <div class="w-8 mr-2">
                      </div>                         
                      <div class="w-10 border-b">
                
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden border-b">
                    </div>
                </div>
                <div class="flex items-start my-2">
                    <div class="flex items-center">
                      <div class="relative flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 mb-4 md:mb-6 overflow-hidden bg-gray-50 rounded">
                         <i class="fa fa-solid fa-grip-vertical fa-lg"></i>
                      </div>
                     
                      <div class="w-10 h-12">
                        <div class="round">
                            <input type="checkbox" checked id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">Need to create a ticket for the New API documnetation is reviewed by DevX team and published on our wesbite.</p>
                    </div>
                </div>
                <div class="flex items-start">
                    <div class="flex">
                      <div class="w-8 mr-2">
                      </div>                         
                      <div class="w-10 border-b">
                
                      </div>
                    </div>
                    <div class="flex-1 overflow-hidden border-b">
                    </div>
                </div>
                <div class="flex items-start my-2">
                    <div class="round w-10 h-10 items-center text-center">
                        <i class="fa fa-solid fa-plus"></i>
                    </div>
                    <div class="flex-1 overflow-hidden">
                        <p class="text-black leading-normal">Add Item</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subproject form -->
    <div class="pb-6 pl-12 pr-2 flex-none mt-4">
        <div class="flex rounded-lg border-2 border-grey overflow-hidden">
            <div class="focus:outline-none py-2">
                <input class="w-full px-4 focus:outline-none mb-4" placeholder="Subproject name" />
                <!-- <input type="text" class="w-full px-4 focus:outline-none mb-4" placeholder="Description" /> -->
                <!-- <input type="search" placeholder="Search" class="ml-4 appearance-none border focus:outline-none border-grey rounded-lg pr-4 py-2"> -->
            </div>
        </div>
    </div>
</div>