<!-- component -->
<div class="font-sans antialiased h-screen flex">
    <div class="bg-gray-50 text-purple-lighter flex-none w-62 pb-6 hidden md:block border-r">
        <div class="mb-2 flex justify-between">
            <div class="flex-auto">
                <div class="flex">
                    <div x-data="{ dropdownOpen: false }" class="relative">
                        <button @click="dropdownOpen = !dropdownOpen" class="relative py-2 px-6 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-400">
                            <h1 class="font-semibold text-xl leading-tight truncate">Anthony's Workspace</h1>
                        </button>

                    <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 z-10 w-full h-full"></div>

                        <div x-show="dropdownOpen" class="absolute right-0 z-20 w-11/12 mt-2 overflow-hidden bg-white rounded-md shadow-xl">
                            <%= link_to "Account", edit_user_registration_path, class: "block px-6 py-2 text-sm text-gray-800 hover:bg-gray-200" %>
                            
                            <%= button_to destroy_user_session_path, method: :delete, class: "px-12 " do %>
                                <span class="block py-2 text-sm text-gray-800 hover:bg-gray-200">Logout </span>
                            <% end %>
                            <%#= link_to "Link Sign out rails-ujs and Turbo", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "block px-6 py-2 text-sm text-gray-800 hover:bg-gray-200" %>
                        </div>
                    </div>
                </div>

                <div class="mb-6 px-6">
                    <span class="bg-green rounded-full block w-2"></span>
                    <span class=" opacity-50 text-sm">Settings & members</span>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="mb-8">
            <div class="px-6 mb-2 flex justify-between items-center">
                <div class="opacity-75">Projects</div>
                <div>
                    <svg class="fill-current h-4 w-4 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                    </svg>
                </div>
            </div>
            <div class="flex flex-col">
                <%#= render @project_sidebar %>

                <%#= render partial: 'projects/projects_sidebar', :project => @project %>

                <% @project_sidebar.each do |project| %>
                    <%= link_to project do %>

                            <div class="flex bg-teal-dark py-1 px-6 hover:bg-gray-200 justify-between hover-trigger">
                                <div>
                                    <%= project.project_name %>
                                </div>
                                <div class="hover-target relative flex items-center justify-center flex-shrink-0 w-6 h-6 overflow-hidden bg-gray-50 rounded hover:bg-gray-200">
                                    <i class="fa fa-light fa-ellipsis fa-sm"></i>
                                </div>
                            </div>
                    <% end %>
                <% end %>
            </div>
   	    </div>

<style>
.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
    padding-left: 6px
}
</style>
       

</div>
