<div id="<%= dom_id subproject %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Subproject name:</strong>
    <%= subproject.subproject_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this subproject", subproject, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this subproject', edit_subproject_path(subproject), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
